<!DOCTYPE html>

<html>

<head>
    <title>Help Page</title>
    <link rel = "icon" href = "/img/weather.png">
    <link rel = "stylesheet" href = "/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>If you need any assistance, please visit {{help}}</p>
    </div>
    

    {{>footer}}

</body>

</html>